/* Color theme and font */
body {
    color: #333333;
    background-color: #f1f1ebd1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 0;
    margin: 0;
}

/* Different tag props */
header{
    position: sticky;
    top:0;
    width: 100%;
    z-index: 1;
}
main{
    min-height:720px;
}
footer{
    position:relative;
    bottom: 0;
    background-color: #3c3c3c;
    margin-top: 50px;
}

/* Footer props */
.footer-info{
    width: 50%;
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 30px;
}
.flex-container-footer-logos{
    display: inline-flex;
    flex-direction: row-reverse;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 45%;
}
.flex-container-footer-logos img{
    max-width: 100%;
    height: auto;
    width: 50px;
    padding: 15px;
    display: block;
}
.footer-content{
    color:white;    
}

/* Top navigational bar and links bar properties */
.flex-container-nav, .flex-container-links{
    display: flex;
    flex-direction: row;
    background-color: #333333;
    overflow: hidden;
    margin: 0;
    padding: 0;    
}
.flex-container-nav a, .flex-container-links a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px 16px;
    margin: auto;
    text-decoration: none;
    font-size:40px;    
}
.flex-container-nav a.active{
    background-color: #b59016 !important;
}
.flex-container-nav a:hover{
    background-color: #3f3f3f;
}
.flex-container-links a{
    font-size: 20px;
    color: #8b8b86;
}
.flex-container-links a:hover{
    color: #b59016;
}

/* Blog flex container and faq flex container props */
.flex-container-blog-pages, .flex-container-faq-questions{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    top:30px;
}
.flex-container-blog-pages section, .flex-container-faq-questions section{
    display: block;
    width: 90%;
    margin: 5px auto;
    background-color: #dddddd;
    border-radius: 5px;
    border: solid;
}
.flex-container-blog-pages section a, .flex-container-blog-pages section summary{
    position: relative;   
    left: 10px;
    text-decoration: none;    
}
.flex-container-blog-pages section a h3{
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 0;
    color:#3c3c3c;
    width: fit-content;
}
.flex-container-blog-pages section summary{
    font-size: 25px;
}

/* Text and info properties */


/*Fonts for every page*/
h1 {
    font-size: 35px;
}
h1,
h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}
p {
    font-size: 28px;
    margin-top: 0px;
}
.table-dashboard th,
.table-dashboard tr td {
    margin-left: 25px;
    padding-left: 25px;
    font-size: 20px;
    background-color: aliceblue;
    border-style: solid;
    text-align: left;
    vertical-align: text-top;
}
h3 {
    font-size: 35px;
}
.section-faq li {
    font-size: 25px;
    padding-bottom: 20px;
}